<li><a href="#" id="ratedHighToLow" class="button">highest to lowest rated</a></li>
<li><a href="#" id="ratedLowToHigh" class="button">lowest to highest rated</a></li>
<li><a href="#" id="priceHighToLow" class="button">price highest to lowest</a></li>
<li><a href="#" id="priceLowToHigh" class="button">price lowest to highest</a></li>
